
$element_radius: 2rem;

.editor-element {
  border-radius: $element_radius;
  background-color: $carbon;
  font-size: 12px;
  padding: 4px 0px 4px 8px;
  color: white;
  border: $carbon solid 2px;
  margin: 10px 2px;

  .media-middle {
    vertical-align: top;
  }
  .material-icons { margin-bottom: 2px; }
}

.editor-element-operator {
  @extend .editor-element, .bg-primary;
  border: $blue solid 2px;
}

.editor-element-precondition {
  @extend .editor-element;
}

.editor-element-answer,
.objplaceholder.qa.qa-widget.cke_widget_element,
.qa-widget {
  @extend .editor-element, .bg-success;
  border: darkgreen solid 2px;
}

.editor-element-output, .output-widget {
  @extend .editor-element, .bg-primary;
  border: $dark-blue solid 2px;
}

.editor-element-text {
  @extend .editor-element;
  background-color: #F1F1F1;
}

.editor-text {border-radius: 5px;
  font-size: 12px;
  padding: 2px 3px;
}

.output-widget, .qa-widget{
  border-radius: 20px;
  font-size: 14px;
  width: 50px;
  color: white;
  padding: 8px;
}