
$element_radius: 2rem;

.editor-element {
  border-radius: $element_radius;
  background-color: $carbon;
  font-size: 12px;
  padding: 4px 36px 4px 8px;
  color: white;
  border: $carbon solid 2px;
  white-space: nowrap;
  position: relative;
  margin: 2px;
  display: inline-block;
  height: 28px;
  line-height: 1;
  vertical-align: bottom;

  .media-middle {
    vertical-align: top;
  }

  img {
    vertical-align: bottom;
    position: absolute;
    left: 0;
    top: 0;
  }

  .material-icons {
    position: absolute;
    right: 1px;
    top: 0px;
    margin: 0;
    font-size: 22px;
    margin-bottom: 2px;
  }
}


.editor-element {

}

.editor-element-operator {
  @extend .editor-element, .bg-primary;
  border: $blue solid 2px;
}

.editor-element-precondition {
  @extend .editor-element;
}

.editor-element-answer,
.objplaceholder.qa.qa-widget.cke_widget_element,
.qa-widget {
  @extend .editor-element, .bg-success;
  border: darkgreen solid 2px;
}

.editor-element-output, .output-widget {
  @extend .editor-element, .bg-primary;
  border: $dark-blue solid 2px;
  display: inline-block !important;
  margin: 0px 6px !important;
}

.editor-element-text {
  @extend .editor-element;
  background-color: #F1F1F1;
}

.editor-text {border-radius: 5px;
  font-size: 12px;
  padding: 2px 3px;
}

.output-widget, .qa-widget{
  border-radius: 20px;
  font-size: 14px;
  width: 50px;
  color: white;
  padding: 8px;
  display: inline-block;
  margin: 2px;
  padding: 0 5px;
}