@import "palette.scss";


.editor-element-operator{
	border-radius: 20px;
	background-color: $carbon;
	font-size: 12px;
	padding: 8px;
	color: white;
	border: black solid 2px;
}
.editor-element-precondition {
	border-radius: 20px;
	background-color: indianred;
	font-size: 12px;
	color: $white;
	padding: 8px;
	border: darkred solid 2px;
}

.editor-element-answer {
	border-radius: 20px;
	background-color: #14BC66;
	font-size: 12px;
	color: $white;
	padding: 8px;
	border: darkgreen solid 2px;
}

.editor-element-output{
	border-radius: 20px;
	background-color: #0072E5;
	font-size: 12px;
	color: $white;
	padding: 8px;
	border: #004C99 solid 2px;
}

.editor-element-text {
	border-radius: 20px;
	font-size: 12px;
	padding: 8px;
	border:$carbon solid 2px;
	background-color: #F1F1F1;
}

.editor-text {
	border-radius: 5px;
	font-size: 12px;
	padding: 2px 3px;

}