@import "palette.scss";

.sidebar-default {
  padding-top: 20px;
  color: $blue;
}

.sidebar-item {
  padding-bottom: 10px;
}

.sidebar_active {
  background-color: $dark-blue;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.category-name {
  color: $dark-blue;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}
.category-name-separator {
  border-bottom: 2px solid $dark-blue;
  margin: 0px !important;
}


a:hover {
    color: $white;
}
a:link {
    text-decoration: none;
}

#add_circle_outline:hover {
  color: #2a6496;
}
