@import "palette.scss";

/* TurboGears flash bootstrap look */
#flash > div {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #c09853;
}

#flash > .ok {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#flash > .error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

#flash > .info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Footer styling
.footer {
    margin-top: 45px;
    padding: 35px 30px 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}

*/

/* Layout style for sidebar and content */

html,body,.ks-container
{
    height:100%;
}

.ks-row
{
    height: 100%;
}

.ks-sidebar {
  background: $light-gray;
  height: 100%;
  overflow: scroll;
}

.ks-section-name {
  font-size: 18px;
  color: $dark-blue;
  font-weight: bold;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td{
  border: none;
}

thead tr {
  background-color: $very-light-blue;
}

.table>tbody>tr>td {
  border-bottom: 1px solid $very-light-blue;
}


.table-hover>tbody>tr:hover {
  background-color: $very-light-blue;
}

.table > thead:first-child > tr:first-child > th{
  color: $dark-blue;
    font-size: 12px;

}

.material-icon-add_circle_outline_rotate {
  z-index: 2;
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

.cursor-pointer {
  cursor:pointer;
}