$dark-blue: #004c99;
$green: #14bc66;
$red: #e70d28;
$carbon: #333333;
$blue: #0072e5;
$light-blue: #7fbfff;
$very-light-blue: #e5f2ff;
$dark-grey: #747474;
$grey: #c5c5c5;
$light-gray: #f1f1f1;
$white: #ffffff;

$dark: $dark-blue;
$light: $light-blue;
$secondary: $dark-blue;

$table-border-width: 0;
$table-head-bg: $very-light-blue;
$table-head-color: $dark-blue;

$hr-border-color: $dark;
$hr-border-width: 2px;

$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;

@import "typography";
@import "sidebar";
@import "editor";
@import "theme";
@import "vendors/bs/bootstrap";