$dark-blue: #004c99;
$green: #14bc66;
$red: #e70d28;
$carbon: #333333;
$blue: #0072e5;
$light-blue: #7fbfff;
$very-light-blue: #e5f2ff;
$dark-grey: #747474;
$grey: #c5c5c5;
$light-gray: #f1f1f1;
$white: #ffffff;

$dark: $dark-blue;
$light: $light-blue;
$secondary: $dark-blue;

$table-border-width: 0;
$table-head-bg: $very-light-blue;
$table-head-color: $dark-blue;

@import "typography";
@import "sidebar";
@import "editor";
@import "vendors/bs/bootstrap";

.custom-select { height: 38px; -moz-appearance: none; -webkit-appearance: none; }

$footer_height: 10vh;

.footer {
  height: $footer_height;
  width: 100%;
  background-color: $dark-blue;

  p {
    padding-top: 34px;
    color: white;
    span {
      color: $red;
    }
  }
}

.material-icon-add_circle_outline_rotate {
  z-index: 2;
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

.cursor-pointer {
  cursor:pointer;
}


/* Questionary temporaney Style */
.questionary_control {
  border-radius: 20px;
}

.a_standard {
  color: #0072e5;
}

.a_standard:hover {
  color: #004c99;
}

.padding-30 {
  padding: 30px;
}

hr {
  border-bottom: 2px solid $dark-blue;
}

.table-row{
    white-space: nowrap;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#create-filter {
  display: inline-block;
}


.response{
  display: inline-block;
}

.response-text {
   width: auto;
  min-width: 0;
  margin:0.1% auto;
}

.text-box {
  padding-top: 20px;
  font-size: 14px;
}

.ws:hover {
  color: #0072e5;
  cursor: pointer;
}

.ws{
  font-size: 18px;
}

.help-text {
  color: $grey;
  font-weight: normal;
}



////////// WORKING

