@import "palette.scss";

.table-row-title {
  font-size: 15px;
  color: $blue;
  font-weight: bold;
}

.table-row{
  font-size: 12px;
  color: $light-blue;
}

.material-icon-more_horiz{
  color: $blue;
}