[env:{{name_app}}_celery_beat]
PATH={{deploy_path}}/venv/bin:$PATH
VIRTUAL_ENV={{deploy_path}}/venv

[watcher:{{name_app}}_celery_beat]
working_dir = {{deploy_path}}/app
cmd = gearbox celerybeat -c {{production_ini_path}}

numprocesses = 1

uid={{user_name}}
gid={{group_name}}

stderr_stream.class = FileStream
stderr_stream.filename = /var/log/circus/{{name_app}}_celery_beat.log
stderr_stream.refresh_time = 0.3
