<!--
    Genshi template master file, this is here
    to permit to extensions and pluggable applications
    to always have a reliable master template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="${response.charset}" />
  <title py:if="False">Ks web</title>
  <meta py:replace="select('*')"/>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'/>
  <link py:for="asset_url in g.webassets['css_all'].urls()" rel="stylesheet" type="text/css"
        media="all" href="$asset_url"/>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <script py:for="asset_url in g.webassets['js_all'].urls()" src="$asset_url"></script>
  <script src="${tg.url('/javascript/axel.js')}"></script>
  <script type="text/javascript">
      <![CDATA[
      if (typeof jQuery === 'undefined')
          axel.register('jquery', 'https://code.jquery.com/jquery.js');
      else
          axel.register('jquery', axel.Preloaded);
      ]]>
  </script>
</head>

<body py:match="body" py:attrs="select('@*')">

<!-- Navbar -->
<nav class="navbar sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
    <img src="${tg.url('/img/logo.png')}" alt="KS"/>
  </a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li><a href="${tg.url('/#')}" class="">${h.material_icon('account_circle')}</a></li>
    <li class="navbar-display-name ${('', 'active')[value_of('page') == 'profile']}">
      <span class="submenu">
        ${request.identity['user'].display_name}
        <span>
          <img src="${tg.url('/img/expand-more.png')}" alt="Profile"/>
          ${h.partials.user_menu("user_menu")}
        </span>
      </span>
    </li>
    <li class="nav-item text-nowrap">

      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>


<!--<nav class="navbar navbar-default">-->
  <!--<div class="navbar-header">-->
    <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-content">-->
      <!--<span class="sr-only">Toggle navigation</span>-->
      <!--<span class="icon-bar"></span>-->
      <!--<span class="icon-bar"></span>-->
      <!--<span class="icon-bar"></span>-->
    <!--</button>-->
    <!--<a class="navbar-brand" href="${tg.url('/')}">-->
      <!--<img src="${tg.url('/img/logo.png')}"  alt="KS"/>-->
    <!--</a>-->
  <!--</div>-->

  <!--<div class="collapse navbar-collapse" id="navbar-content">-->
    <!--<ul py:if="request.identity" class="nav navbar-nav navbar-right">-->
      <!--<li><a href="${tg.url('/#')}" class="">${h.material_icon('account_circle')}</a></li>-->
      <!--<li class="navbar-display-name ${('', 'active')[value_of('page') == 'profile']}">-->
      <!--<span class="submenu">-->
      <!--${request.identity['user'].display_name}-->
        <!--<span>-->
        <!--<img src="${tg.url('/img/expand-more.png')}" alt="Profile"/>-->
         <!--${h.partials.user_menu("user_menu")}-->
        <!--</span>-->
      <!--</span>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->


<!-- Logged User -->

<div class="container-fluid" py:if="request.identity">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      ${h.partials.sidebar("sidebar")}
    </nav>
  </div>
  <div>

  </div>
</div>

<div py:if="request.identity" class="container-fluid ks-container">
  <!-- Flash messages -->
  <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
    <div class="row ks-row">
      <div class="col-md-2 ks-sidebar">
        ${h.partials.sidebar("sidebar")}
      </div>
      <div class="col-md-10">
        <div py:if="flash" py:replace="Markup(flash)" />
        <!-- Main included content -->
        <div py:replace="select('*|text()')"/>
      </div>
    </div>
  </py:with>
</div>

<!--<div py:if="request.identity" class="container-fluid ks-container">-->
  <!--&lt;!&ndash; Flash messages &ndash;&gt;-->
  <!--<py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">-->
    <!--<div class="row ks-row">-->
      <!--<div class="col-md-2 ks-sidebar">-->
        <!--${h.partials.sidebar("sidebar")}-->
      <!--</div>-->
      <!--<div class="col-md-10">-->
        <!--<div py:if="flash" py:replace="Markup(flash)" />-->
        <!--&lt;!&ndash; Main included content &ndash;&gt;-->
        <!--<div py:replace="select('*|text()')"/>-->
      <!--</div>-->
    <!--</div>-->
  <!--</py:with>-->
<!--</div>-->

<!-- Not Logged User -->
<div py:if="not request.identity" class="container-fluid">
  <!-- Flash messages -->
  <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
    <div class="row">
      <div class="col-md-12">
        <div py:if="flash" py:replace="Markup(flash)" />
        <!-- Main included content -->
        <div py:replace="select('*|text()')"/>
      </div>
    </div>
  </py:with>
</div>

<!-- Footer -->
<!--
  <footer class="footer hidden-xs hidden-sm">
    <a class="pull-right" href="http://www.turbogears.org"><img style="vertical-align:middle;" src="${tg.url('/img/under_the_hood_blue.png')}" alt="TurboGears 2" /></a>
    <p>Copyright &copy; ${getattr(tmpl_context, 'project_name', 'TurboGears2')} ${h.current_year()}</p>
  </footer>
  -->

<script src="http://code.jquery.com/jquery.js"></script>
<script src="${tg.url('/javascript/bootstrap.min.js')}"></script>
</body>
</html>

